<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{game_name}}</h5>
		<button type="button" class="change-played btn btn-light" data-id="{{id}}" data-newplayed="{{played}}">
			{{#if played}}Mark as not played {{else}} Mark as played {{/if}}
		</button>
		<button type="button" class="delete-game btn btn-light" data-id="{{this.id}}">Delete</button>
	</div>
</div>
	{{!-- {{game_name}}
	<button class="change-played" data-id="{{id}}" data-newplayed="{{played}}">
		{{#if played}}Remove from 'played' list{{else}}Mark as played{{/if}}
	</button>
	<button class="delete-game" data-id="{{this.id}}">DELETE!</button>
 --}}
